*{
    font-family: 'Raleway', sans-serif;;
}
:root{
    --main-grey: #303030
    --main-dark: black
    --main-white: white
}
header{
    background: linear-gradient(180deg, rgba(0,0,0,1) 73%, rgba(113,113,113,0.48792016806722693) 100%);
}
.custom-margin-img{
    padding-top: 80px;

}
.custom-h1{
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
}
.min-height{
    min-height: 6rem;
}
.height-custom{
    height: 1220px;

}
.navbar-custom{
    transition: 0,8s;
    background-color: black;
}
.custom-border{
    border-left: 2px solid rgb(52, 42, 42);
    border-right: 2px solid rgb(52, 42, 42);
}
.red-custom{
    color: red;
}
.custom-overflow{
    overflow-x: hidden;
}
/* css button  */
/* CSS */
.button-24 {
    text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: #303030;
  background-position: 0 0;
  color: white;
}

.button-24:active {
  opacity: .5;
}
.custom-img{
    height: 12rem;
}
.custom-margin{
    margin-top: 10rem;
    padding-left: 2rem;
}
.custom-border-filter{
    border-bottom: 3px solid black;
}
.card-custom{
    border: 2px solid black;
    cursor: pointer;
}
.card-custom:hover{
    background-color:#827f7f;
    color: white;
    animation-name: flip;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction:alternate 
}
@keyframes flip {
        25%{transform: scale(1.05);
    }
}